
.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_background.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dairy);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_background:not(.is-open) .modal-window {
    transform: translate(-50%, -100%);
}

.modal-close {
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--ocean);
    border: none;
    fill: #ffffff;
}

.svg-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    min-height: 336px;
}

.modal-text {
    display: block;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-forms {
    width: 360px;
    min-height: 58px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-lables {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-lables-container {
    position: relative;
}

.modal-lable-form {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--iris);
}

.modal-input:focus~svg {
    fill: var(--iris);
}

.modal-lable-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: var(--iris);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
}

.modal-lable-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;
}

.modal_button_send {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button_send:hover,
.modal_button_send:focus {
    background-color: var(--ocean);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal-inputs {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
    color: var(--iris);
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    position: relative;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-vector {
    fill: transparent;
}

#user-privacy:checked+.modal-checkbox>.custom-checkbox {
    background-color: var(--ocean);
    fill: #F4F4FD;
    border: none;
}

#user-privacy:checked+.modal-checkbox>.custom-checkbox>.modal-vector {
    fill: #F4F4FD;
    border: none;
}










