
.portfolio {
    padding: 120px 0;
}

.portfolio .second-tag {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list-cell {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-cell:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-list .third-tag {
    margin-bottom: 8px;
}

.portfolio-container {
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-text {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-cell:hover .portfolio-image-text {
    transform: translateY(0);
}

.portfolio-container-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-container-text h3 {
    margin-bottom: 8px;
}

/* footer section */

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
    margin-left: 0;
    margin-right: 0;
    max-width: 1158px;
    margin: 0 auto;
}

.footer-cont-logo {
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text {
    color: var(--cloud);
    max-width: 264px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    fill: var(--cloud);
}

.footer-socials-cell {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.svg-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-buttons {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    display: inline-block;
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: inherit;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-buttons input:hover,
.footer-subscribe-buttons input:focus,
.footer-subscribe-buttons input:active {
    border-color: var(--green);
}

.subscribe-submit {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    border: none;
}

.subscribe-submit:hover,
.subscribe-submit:focus {
    background-color: var(--green);
}

.footer-subscribe-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.subscribe-submit svg {
    fill: #F4F4FD;
    margin-left: 16px;
}

/* modal window */

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_background.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dairy);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_background:not(.is-open) .modal-window {
    transform: translate(-50%, -100%);
}

.modal-close {
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--ocean);
    border: none;
    fill: #ffffff;
}

.svg-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    min-height: 336px;
}

.modal-text {
    display: block;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-forms {
    width: 360px;
    min-height: 58px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-lables {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-lables-container {
    position: relative;
}

.modal-lable-form {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--iris);
}

.modal-input:focus~svg {
    fill: var(--iris);
}

.modal-lable-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: var(--iris);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
}

.modal-lable-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;
}

.modal_button_send {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button_send:hover,
.modal_button_send:focus {
    background-color: var(--ocean);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal-inputs {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
    color: var(--iris);
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    position: relative;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-vector {
    fill: transparent;
}

#user-privacy:checked+.modal-checkbox>.custom-checkbox {
    background-color: var(--ocean);
    fill: #F4F4FD;
    border: none;
}

#user-privacy:checked+.modal-checkbox>.custom-checkbox>.modal-vector {
    fill: #F4F4FD;
    border: none;
}